{% extends 'CmsXutBundle::layout.html.twig' %}
{% block body %}
    {% for blog in blogs %}
        <article class="blog-in-list" data-post-id="{{ blog.id }}">
            <h2><a href="{{ path('blog_post_view', { 'post_id': blog.id })  }}">{{ blog.name }}</a></h2>
            <div class="date">
                <time datetime="{{ blog.dateCreated|date('c') }}">
                    {{ blog.dateCreated|date('l, F j, Y') }}
                </time>
            </div>
            <div class="content">
                {# TODO: load value from config #}
                {{ blog.content(500) }}
            </div>
            <div class="tags">
                Tags:
                {% for tag in blog.tags %}
                    <a href="{{ path('blog_list_posts_by_tag', { 'tagname': tag.name }) }}">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </article>
    {% else %}
        <p class="notfound">There are no blogs</p>
    {% endfor %}
{% endblock %}