{% extends 'CmsXutBundle::layout.html.twig' %}
{% block body %}
    <article class="blog">
        {# TODO: make as one cycle #}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-message notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="flash-message error">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <h1>{{ post.name }}</h1>
        <div class="date">
            <time datetime="{{ post.dateCreated|date('c') }}">
                {{ post.dateCreated|date('l, F j, Y') }}
            </time>
        </div>
        <div class="content">
            {{ post.content | raw}}
        </div>
        <div class="tags">
            {% for tag in post.tags %}
                <a href="{{ path('blog_list_posts_by_tag', { 'tagname': tag.name }) }}">{{ tag.name }}</a>
            {% endfor %}
        </div>
    </article>
    {% if is_granted('ROLE_ADMIN') %}
        <div id="post-edit-wrapper">
            <div class="blog-action" id="blog-remove">Remove</div>
            <div class="blog-action" id="blog-edit">Edit</div>
            <div id="blog-edit-container"></div>
        </div>
    {% endif %}
    <div class="comments">
        Comments go here
    </div>
    <script type="text/javascript">
        var blog_edit_form = new PostForm({
            el: $("#post-edit-wrapper"),
            viewPort: $('#blog-edit-container'),
            template: '#blog-form-template',
            formPath: '{{ path('blog_post_edit', {'post_id': post.id}) }} ',
            editorImageUploadPath: '{{ path('blog_editor_image_upload') }}',
            removePostPath: '{{ path('blog_post_remove', {'post_id': post.id}) }}'
        });
    </script>
{% endblock %}