{% extends 'CmsXutBundle::layout.html.twig' %}

{% block body %}
    <div>
        {# TODO: make as one cycle #}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-message notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="flash-message error">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <div id="categories-list">
            {% for form in forms %}
                <div class="category-view-template" style="display: none">
                    <form data-category-id="{{ form.category.id }}"
                          action="{{ path('cms_category_update', {'category_id': form.category.id}) }}"
                          method="PUT" {{ form_enctype(form.formview) }}
                          role="form">
                        {{ form_widget(form.formview.name, { 'attr': { 'class': 'category-name-edit category-name form-control' }, 'id': '' } ) }}
                        {{ form_widget(form.formview._token, { 'attr': { 'class': 'category-edit-token' }, 'id': '' }) }}
                        <div class="button-action remove-action">Remove</div>
                    </form>
                </div>
            {% endfor %}
        </div>
        <div class="category-new-template" style="display: none">
            <form action="{{ path('cms_category_new') }}"  method="post" role="form">
                {{ form_widget(form_new.name,
                { 'attr': { 'class': 'category-name-new category-name form-control', 'placeholder' : 'Create New' }, 'id': '' } ) }}
                {{ form_widget(form_new._token, { 'attr': { 'class': 'category-new-token' }, 'id': '' }) }}
                <div class="button-action" id="create-category-submit">Create</div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if is_granted('ROLE_ADMIN') %}
        <script type="text/javascript" src="{{ asset('bundles/cmsxut/js/categoriesedit.js') }}"></script>
        <script type="text/javascript">
            $(function() {
                var categoriesViews = [];
                var saveUrlRoot = '{{ path('cms_category_create') }}';
                $.each($('.category-view-template'), function() {
                    var categoryId = $(this).find('form').data('category-id');

                    console.log(categoryId + ' category_id to the view'); // DEBUG

                    var categoryData = new categoryDataModel({
                        'id': categoryId,
                        'name': $(this).find('.category-name-edit').val(),
                        '_token': $(this).find('.category-edit-token').val()
                    });

                    categoryData.urlRoot = saveUrlRoot;

                    categoriesViews.push(new categoryEditForm({
                        el: $(this),
                        template: $(this),
                        categoryData: categoryData
                    }));

                });

                var newCategoryData = new categoryDataModel({
                    '_token' : $('.category-new-template').find('.category-new-token').val()
                })

                newCategoryData.urlRoot = saveUrlRoot;

                var newCategoryView = new categoryEditForm({
                    el: $('.category-new-template'),
                    template: $('.category-new-template'),
                    categoryData: newCategoryData
                })
            });
        </script>
    {% endif %}
{% endblock %}