<form id="hb-image" action="set_home_banner" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    {{ form_row(form.image) }}
    {{ form_row(form.description) }}

    {{ form_rest(form) }}
    <input type="submit" value="Submit" />
</form>