<script type="text/template" id="image-form-template">
    <form id="gallery-image" action="{% if image.id == '' %} {{ path('gallery_image_create') }} {% else %} {{ path('gallery_image_update', {'image_id': image.id}) }} {% endif %}" method="post" {{ form_enctype(form) }}>
        {# todo: find more native way to implement the form elements #}
        <table class="image-edit-type">
            <tr>
                <td class="form-label"><label>Image:</label></td>
                <td>
                    {{ form_widget(form.file, { 'attr': { 'class': 'image-file-edit' }, 'id': '' } ) }}
                </td>
            </tr>
            <tr>
                <td class="form-label"><label>Description:</label></td>
                <td>
                    {{ form_widget(form.content, { 'attr': { 'class': 'image-description-edit' }, 'id': '' } ) }}
                </td>
            </tr>
            <tr>
                <td class="form-label"><label>Tags:</label></td>
                <td>
                    {{ form_widget(form.tagsfield, { 'attr': { 'class': 'image-tags-edit' }, 'id': '' } ) }}
                </td>
            </tr>
            <tr>
                <td class="form-label"><label>Categories:</label></td>
                <td>
                    {{ form_widget(form.categories, { 'attr': { 'class': 'image-categories-edit' }, 'id': '' } ) }}
                </td>
            </tr>
        </table>
        {{ form_widget(form._token) }}
        <input type="submit" value="Submit" />
    </form>
</script>