{% extends 'CmsXutBundle::layout.html.twig' %}
{% block body %}
    <div class="content-wrapper">
        {# TODO: make as one cycle #}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-message notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="flash-message error">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <div class="test"></div>
        <div class="gallery-wrapper">
        {% for image in images %}
            <div class="gallery-image col-md-6">
                <a style="display: block" href="{{ image.getWebPath() }}" class="">
                    <img src="" class="lazy" data-src="{{ image.getWebPath() }}" alt="">
                    <div class="info" style="display: none;">
                        <div class="description">{{ image.content }}</div>
                        <div class="tags">
                            {% if image.tags|length > 0 %}
                                Tags:&nbsp;
                                {% for tag in image.tags %}
                                    {# TODO: JS event observer to make the 'spanned' links work #}
                                    <span class="taglink" data-href="{{ path('gallery_list_images_by_tag', { 'tagname': tag.name }) }}">
                                        {{ tag.name }}
                                    </span>,
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </a>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="image-edit-wrapper"
                         data-form-url="{{ path('gallery_image_edit', { 'image_id': image.id }) }}">
                        <div class="button-action image-remove">Remove</div>
                        <div class="button-action image-edit">Edit</div>
                        <div class="image-edit-container edit-popup"></div>
                    </div>
                {% endif %}
            </div>
        {% else %}
            <p class="notfound">There are no images :(</p>
        {% endfor %}
            <div style="clear:both"></div>
         </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/cmsgallery/js/libs/magnific_popup/magnific-popup.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/cmsgallery/js/libs/jquery_lazy/jquery.lazy.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cmsgallery/js/libs/magnific_popup/jquery.magnific-popup.min.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            $("img.lazy").lazy();

            /* lightbox */
            $('.gallery-wrapper').magnificPopup({
                delegate: 'a',
                type: 'image',
                closeOnContentClick: false,
                closeBtnInside: false,
                mainClass: 'mfp-with-zoom mfp-img-mobile',
                image: {
                    verticalFit: true,
                    titleSrc: function(item) {
                        var description = item.el.find('.info');
                        return description.html();
                    }
                },
                gallery: {
                    enabled: true
                },
                zoom: {
                    enabled: true,
                    duration: 300,
                    opener: function(element) {
                        return element.find('img');
                    }
                }
            });

            $('body').delegate('.taglink', 'click', function() {
                document.location = $(this).data('href');
            })
        });
    </script>
    {% if is_granted('ROLE_ADMIN') %}
        <script type="text/javascript">
            /* TODO: Move to a separate file */
            $(function() {
                if ($('.image-edit-wrapper').length > 0) {
                    var editForms = [];
                    $('.image-edit-wrapper').each(function() {
                        var wrapper = $(this);
                        var imageFormPath = wrapper.data('form-url');
                        var imageEditForm = new gistEditForm({
                            el: wrapper,
                            viewPort: wrapper.find('.image-edit-container'),
                            template: '#image-form-template',
                            formPath: imageFormPath
                        });
                        editForms.push(imageEditForm)
                    });
                }
            });
        </script>
    {% endif %}
{% endblock %}