{% extends 'CmsXutBundle::layout.html.twig' %}
{# Insert Home Banner #}
{% block body %}
    {{ render(controller("CmsHomeBannerBundle:Homebanner:getImage")) }}
    <a href="{{ path('blog_index') }}" title="Blog">Blog</a>
    <a href="{{ path('gallery_index') }}" title="Blog">Gallery</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/cmshomebanner/js/libs/bxslider/jquery.bxslider.min.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            $('.hb-slides').bxSlider();
        })
    </script>
    {% if is_granted('ROLE_ADMIN') %}
        <script type="text/javascript" src="{{ asset('bundles/cmshomebanner/js/homebanner.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/cmshomebanner/js/jquery.iframe-transport.js') }}"></script>
        <script type="text/javascript">
            $(function() {
                var hb_edit_form = new HbForm({
                    el: $("#hb-form-container"),
                    formPath: '{{ path('get_home_banner_form') }}',
                    savePath: '{{ path('set_home_banner') }}',
                    previewPath:'{{ path('preview_home_banner') }}'
                });
            });
        </script>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/cmshomebanner/js/libs/bxslider/jquery.bxslider.css') }}" rel="stylesheet" type="text/css">
{% endblock %}